* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
}

html{
	font-size: 62.5%;
}


/* NAV BAR */

/* a{
    color: #fff;;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Verdana;
    font-size: 20px;
    display: inline-block;
    padding: 16px 32px;
    transform: all 0.3s;
    border: 2px solid transparent;

} */

.ausm{
    color: #fff;;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Verdana;
    font-size: 20px;
    display: inline-block;
    padding: 16px 32px;
    transform: all 0.3s;
    border: 2px solid transparent;
}

 /* ul:hover a {
    filter: blur(2px);
} */

/* ul a:hover{
    color: #fff;
    filter: blur(0);
    transform: translateY(-10px);
    background-color: rgb(41, 66, 90);
}  */

.ulusm .ausm:hover{
    color: #fff;
    filter: blur(0);
    transform: translateY(-10px);
    background: rgb(36, 53, 70);
    z-index: 1;
}
h1{
    font-size: 2.5rem;
    color:white;
}

/* ul li, p{
	font-size: 2rem;
    list-style: none;
    margin-top: -5;
    margin-bottom: -4rem;
} */

.ulusm .liusm,p{
    font-size: 2rem;
    list-style: none;
    margin-top: -5;
    margin-bottom: -4rem;
}

.main-head
{   
    position: fixed;
    width: 102%;
    height: 80px;
    margin: -15px;
    background-image: radial-gradient(circle at 6.56% 19.58%, #2d4a64 0, #243546 50%, #1a222a 100%); 
}

/* nav{
	min-height: 10vh;
	display: flex;
	width: 80%;
	margin: auto;
	align-items: center;
} */

.navusm{
    min-height: 10vh;
	display: flex;
	width: 80%;
	margin: auto;
	align-items: center;
}

/* nav ul{
    width: 90%;
	display: flex;
	flex: 1 1 20rem;
	justify-content: space-around;
	align-items: center;
    list-style: none;
} */

.navusm .ulusm{
    width: 90%;
	display: flex;
	flex: 1 1 20rem;
	justify-content: space-around;
	align-items: center;
    list-style: none;
}

#logo{
	flex: 3 1 50rem;
}

#logoimg{
    margin-top: 10px;
}

/* OTHER*/

.text-muted {
    position: fixed;
    color: #ecb5b5;
    margin-top: 0px;
    margin-left: 1170px;
}

#hola {
    margin-top: 100px ;
    width: 100px;
    margin: 0 auto;

}