/* Body background and font */
body {
  background: #010114de;
  font-family: "Lato", sans-serif;
}

/* Main heading */
.heading {
  color:  rgb(41, 66, 90);
}

/* Countdown timer */
.timer {
  color: cyan;
  text-align: center;
  width: 25rem;
  height: 25rem;
  border: 5px solid #fff;
  border-radius: 25em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  width: 100%;
}

/* remove the padding on the play button */
.btn {
  padding: 0;
}

/* play and reset icons */
.fa-play,
.fa-redo-alt {
  color: #5adbdb;
  border: 2px solid transparent;
  padding: 1rem;
  border-radius: 2rem;
}

.fa-play:hover,
.fa-redo-alt:hover {
  color: #5adbdb;
  border: 2px solid #bae8e8;
  transition: 0.3s ease;
}

/* Dynamic class */
/* Make the message visible */
.show_message {
  display: block;
  padding: 1rem 0;
  color: #272343;
  background: #e3f6f5;
  border-radius: 0.5rem;
  transition: 0.5s ease;
}

/* NAV BAR */

/* a{
    color: #fff;;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Verdana;
    font-size: 20px;
    display: inline-block;
    padding: 16px 32px;
    transform: all 0.3s;
    border: 2px solid transparent;

} */

.ausm{
  color: #fff;;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Verdana;
  font-size: 20px;
  display: inline-block;
  padding: 16px 32px;
  transform: all 0.3s;
  border: 2px solid transparent;
}

/* ul:hover a {
  filter: blur(2px);
} */

/* ul a:hover{
  color: #fff;
  filter: blur(0);
  transform: translateY(-10px);
  background-color: rgb(41, 66, 90);
}  */

#ulusm .ausm:hover{
  color: #fff;
  filter: blur(0);
  transform: translateY(-10px);
  background-color: rgb(41, 66, 90);
  transition: all .3s;
}
h1{
  font-size: 2.5rem;
  color:white;
}

/* ul li, p{
font-size: 2rem;
  list-style: none;
  margin-top: -5;
  margin-bottom: -4rem;
} */

#ulusm .liusm,p{
  font-size: 2rem;
  list-style: none;
  margin-top: -5;
  margin-bottom: -4rem;
}


.main-head
{   
  position: fixed;
  width: 102%;
  height: 80px;
  margin: -15px;
  background: rgb(36, 53, 70); 
  z-index: 1;
}

/* nav{
min-height: 10vh;
display: flex;
width: 80%;
margin: auto;
align-items: center;
} */

#navusm{
  min-height: 10vh;
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
}

/* nav ul{
  width: 90%;
display: flex;
flex: 1 1 20rem;
justify-content: space-around;
align-items: center;
  list-style: none;
} */

#navusm #ulusm{
  width: 90%;
  display: flex;
  flex: 1 1 20rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#logo{
  flex: 3 1 50rem;
}

#logoimg{
  margin-top: 10px;
}

#ulusm li a:hover{
  filter: blur(0);
  transform: translateY(-7px);
  background-color: rgb(41, 66, 90);
  transition: all .3s;
}

/* Submenu*/

.submenu{
  position: absolute;
  background:rgb(36, 53, 70);
  width: 170px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
  list-style:none;
  padding: 0px;
}

.submenu li a{
  display: block;
  padding: 15px;
  color: #fff;
  text-decoration: none;
}

#ulusm li:hover .submenu{
  visibility: visible;
  opacity: 1;
}


ol{
  color: cyan;
  position: relative;
}

ol li{
  color:#5adbdb;
  font-size: 12px;
  font-family: monospace;
}

.parrafo{
  display:flex;
  justify-content: space-between;
}

.caja{
  font-weight: 400;  
  margin: 0 0 25px; 
  overflow: hidden; 
  padding: 20px; 
  border-radius: 35px 0px 35px 0px; 
  -moz-border-radius: 35px 0px 35px 0px; 
  -webkit-border-radius: 35px 0px 35px 0px; 
  border: 2px solid cyan;
  margin-top: 50px;
}


.text-muted {
  position:  fixed;
  color: #ecb5b5;
  margin-top: -7%;
  margin-left: 90%;
}

#hola {
  margin-top: 100px ;
  width: 100px;
  margin: 0 auto;

}