.todolist {
    width: 1350px;
    margin-top: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(65, 111, 111);
    border-image: initial;
}


/* Include the padding and border in an element's total width and height */
* {
	box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
	margin: 0;
	padding: 0;
}

#myDIV,#myUL {
	box-shadow: 0 10px 50px -20px #8773c1;
}

/* Style the list items */
#myUL .lito, #myUL .checked{
	cursor: pointer;
	position: relative;
	padding: 12px 8px 12px 40px;
	background: #eee;
	font-size: 18px;
	transition: 0.2s;
	list-style:none;

  /* make the list items unselectable */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
#myUL .lito, #myUL .checked:nth-child(odd) {
	background: #393e46;
    color: white;
}

/* Darker background-color on hover */
#myUL .lito, #myUL .checked:hover {
	background: #222831;
    color: white;
}

/* When clicked on, add a background color and strike out text */
#myUL .checked {
	background: #393e46;
	color: #fff;
	text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
#myUL .checked::before {
	content: '';
	position: absolute;
	border-color: #fff;
	border-style: solid;
	border-width: 0 2px 2px 0;
	top: 10px;
	left: 16px;
	transform: rotate(45deg);
	height: 15px;
	width: 7px;
}

/* Style the close button in the left */
.closeleft {
    position: absolute;
    right: 0px;
    top: 0%;
    height: 100%;
    width: 3%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(60, 66, 82);
    border-image: initial;
    background: rgb(72, 76, 82);
}

.closeleft:hover, .closeleft-check:hover{
	background-color: #f44336;
	color: white;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
	width: 3%;
	background-color: grey;
    padding: 1rem;
	margin: 0px;
	border-width: 1px;
    border-style: solid;
    border-color: rgb(60, 66, 82);
}

.close:hover {
	background-color: #f44336;
	color: white;
}

/* Style the header */
.header {
	background-color: #192435;
	padding: 30px 40px;
	color: #00adb5;
	text-align: center;
}

/* Clear floats after the header */
.header:after {
	content: "";
	display: table;
	clear: both;
}

/* Style the input */
input {
	margin: 0;
	border: none;
	border-radius: 0;
	width: 75%;
	padding: 10px;
	float: left;
	font-size: 16px;
	color: black;
}

/* Style the "Add" button */
#addBtn {
    width: 25%;
    color: black;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    background: rgb(125, 132, 141);
    transition: all 0.3s ease 0s;
    border-radius: 0px;
}

.addBtn:hover {
	background-color: #bbb;
}

.closeleft-check {
    position: absolute;
    right: 0px;
    top: 0%;
    height: 100%;
    width: 3%;
    left: 94%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(60, 66, 82);
    border-image: initial;
    background: rgb(72, 76, 82);
}

#myUL .lito, #myUL .checked, #ul-model .lito, #ul-model .checked {
    cursor: pointer;
    position: relative;
    font-size: 18px;
    user-select: none;
    padding: 12px 8px 12px 40px;
    transition: all 0.2s ease 0s;
    list-style: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(69, 76, 87);
    border-image: initial;
}