{% extends 'base/base.html'%}
{% block link_css %}
    rel="stylesheet" href="{{ url_for('static', filename='css/index.css' ) }}"
{% endblock %}
{% block title %} Index  {% endblock %}

{% block content %}
    <!---
	<header class=main-head>
		<nav>
			<div id="logoimg">
				<img src="static\img\img.png" alt="logo" width="70" height="70">
			</div>
			<h1 id= 'logo'>Organízate USM</h1>
			<ul>
				<li><a href="#">Inicio</a></li>
				<li><a href="{{ url_for('material') }}">Material</a></li>
				<li><a href="{{ url_for('collaborate') }}">Colaborar</a></li>
				<li><a href="{{ url_for('logout') }}">Logout</a></li>
			</ul>
		</nav>
	</header>
    --->
    <body>
        <div>
            <h1>Todo list</h1>
            <div>Add a new todo item:
                <form action="{{ url_for('add') }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"  />
                    <input type="text" name="todoitem">
                    <input type="submit" value='Add items'>
                </form>
            </div>
            <div class="todolist">
                <h2>Incomplete Items</h2>
                <div>
                    <ul>
                        {% for todo in incomplete %}
                        <li type="square" style="font-size: 30pt">{{ todo.text }} <a href="{{ url_for('complete', id=todo.id) }}">Mark As Complete</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div>
                <h2>Completed Items</h2>
                <ul>
                    {% for todo in complete %}
                    <li>{{ todo.text }}</li>
                    {% endfor %}
                </ul>
                <div>
                    <form action="{{ url_for('deleteitem') }}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"  />
                        <input type="submit" value='Eliminar tareas'>
                    </form>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
