{% extends 'base/base.html'%}
{% block link_css %}
    rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}"
{% endblock %}
{% block link_css_todo %}
    rel="stylesheet" href="{{ url_for('static', filename='css/todolist.css' ) }}"
{% endblock %}
{% block script_js %}
    type="text/javascript" src="{{ url_for('static', filename='js/todolist.js') }}"
{% endblock %}

script_js
{% block title %} Index  {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/evo-calendar.midnight-blue.min.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/evo-calendar.min.css' ) }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <header class=main-head>
        <nav id="navusm">
            <div id="logoimg">
                <img src="static\img\img.png" alt="logo" width="70" height="70">
            </div>
            <h1 id= 'logo'>Organízate USM</h1>
            <ul id="ulusm">
                <li class="liusm"><a href="{{ url_for('index') }}" class="ausm">Inicio</a></li>
                <li class="liusm"><a href="{{ url_for('material') }}" class="ausm">Material</a>
                    <ul class="submenu">
						<li><a href="{{ url_for('informatica') }}">Ingeniería Civil en informatica</a></li>
						<li><a href="{{ url_for('matematica') }}">Ingeniería Civil en matemática</a></li>
						<li><a href="{{ url_for('minas') }}">Ingeniería Civil en minas</a></li>
						<li><a href="{{ url_for('arqui') }}">Arquitectura</a></li>
						<li><a href="{{ url_for('elo') }}">Ingeniería Civil en electronica</a></li>
						<li><a href="{{ url_for('industrial') }}">Ingeniería Civil industrial</a></li>
					</ul>
                </li>
                <li class="liusm"><a href="{{ url_for('pomodoro') }}" class="ausm">Pomodoro</a></li>
                <li class="liusm"><a href="{{ url_for('logout') }}" class="ausm">Logout</a></li>
            </ul>
        </nav>
    </header>

	<div class="hero">
        <div id="calendar"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/evo-calendar.min.js' ) }}"></script>

    <script>
        $(document).ready(function() {
            $('#calendar').evoCalendar({
                theme: 'Midnight Blue',
                'todayHighlight': true,
                'language': 'es',
                'firstDayOfWeek': 1,
                calendarEvents: [{
                    id: 'event1', // Event's ID (required)
                    name: "Año nuevo", // Event name (required)
                    date: "January/1/2020", // Event date (required)
                    description: "aaaaaaaaaaaaaa",
                    type: "holiday", // Event type (required)
                    everyYear: true // Same event every year (optional)
                },
                {
                    name: "Vacaciones",
                    badge: "02/13 - 02/15", // Event badge (optional)
                    date: ["February/13/2020", "February/15/2020"], // Date range
                    description: "Vacaciones.", // Event description (optional)
                    type: "event",
                    color: "#63d867" // Event custom color (optional)

                },
                {% for evento in event %}
                {
                    name: "{{ evento.nombre }}",
                    date: "{{ evento.fecha }}",
                    description: "{{ evento.descripcion }}",
                    type: "event",
                    color: "#63d867"
                },
                {% endfor %}

            ]
            })
        })
    </script>
        <div class="addevent">
            <div>
                <button type="button" id="BotonModal" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Launch demo modal</button>
            </div>
        </div>

        <div class="todolist">
            <div id="myDIV" class="header" methods='POST'>
                <h2>Lista de quehaceres</h2>
                <form action="{{ url_for('add') }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"  />
                    <input type="text" id="myInput" name="todoitem" placeholder="Titulo...">
                    <input type="submit" class="addBtn" value='Agregar'>
                </form>
            </div>

            <ul id="myUL">
                {% for todo in incomplete %}
                <li class="lito">{{ todo.text }}<a href="{{ url_for('complete', id=todo.id) }}"><span class="close">✔</span></a></li>
                {% endfor %}
                {% for todo in complete %}
                <li class="checked">{{ todo.text }}<a href="{{ url_for('incomplete', id=todo.id) }}"><span class="closeleft">✔</span></a><a href="{{ url_for('deleteitem', id=todo.id) }}"><span class="close">X</span></a></li>
                {% endfor %}
            </ul>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <h1>Titulo agregar evento</h1>
                        <form action="{{ url_for('addevent') }}" method="POST" class="header">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"  />
                            <input type="text" name="nombre" placeholder="Nombre...">
                            <input type="text" name="descripcion" placeholder="Descripcion...">
                            <input type="date" id="start" name="fecha" value="2020-12-12" min="2020-01-01" max="2030-12-31">
                            <input type="submit" class="addBtn" value='Agregar'>
                        </form>
                    </div>
                    <ul id="myUL">
                        {% for evento in event %}
                        <li class="lito">{{ evento.nombre }}, Fecha: {{ evento.fechaleer }}<a href="{{ url_for('deleteevent', id=evento.id) }}"><span class="close">X</span></a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>

{% endblock %}
