{% extends 'base/base.html'%}
{% block title %} Material  {% endblock %}
{% block link_css %}
    rel="stylesheet" href="{{ url_for('static', filename='css/material.css' ) }}"
{% endblock %}

{% block content %}
	<header class=main-head>
		<nav id="navusm">
			<div id="logoimg">
				<img src="static\img\img.png" alt="logo" width="70" height="70">
			</div>
			<h1 id= 'logo'>Organízate USM</h1>
			<ul id="ulusm">
                <li class="liusm"><a href="{{ url_for('index') }}" class="ausm" id="index-button">Inicio</a></li>
                <li class="liusm"><a href="{{ url_for('material') }}" class="ausm" id="material-button">Material</a>
                    <ul class="submenu">
						<li><a href="{{ url_for('informatica') }}">Ingeniería Civil en informatica</a></li>
						<li><a href="{{ url_for('matematica') }}">Ingeniería Civil en matemática</a></li>
						<li><a href="{{ url_for('minas') }}">Ingeniería Civil en minas</a></li>
						<li><a href="{{ url_for('arqui') }}">Arquitectura</a></li>
						<li><a href="{{ url_for('elo') }}">Ingeniería Civil en electronica</a></li>
						<li><a href="{{ url_for('industrial') }}">Ingeniería Civil industrial</a></li>
					</ul>
                </li>
                <li class="liusm"><a href="{{ url_for('pomodoro') }}" class="ausm" id="pomodoro-button">Pomodoro</a></li>
                <li class="liusm"><a href="{{ url_for('logout') }}" class="ausm" id="logout-button">Logout</a></li>
            </ul>
		</nav>	
	</header>

	<div class="container">

		<div class="card">
			<a class="card-link" href="{{ url_for('informatica') }}">
				<h2>Ingeniería civil en informatica</h2>
				<img src="static\img\informatica.jpg">
				
				
				<!-- <p>Material De estudio para estudiar </p> -->
			</a>
		</div>
		
		<div class="card">
			<a class="card-link" href="{{ url_for('matematica') }}">
				<h2>Ingeniería civil en matemática</h2>
				<img src="static\img\matematica.jpg">
			</a>
		</div>
		
		<div class="card">
			<a class="card-link" href="{{ url_for('minas') }}">
				<h2>Ingeniería civil en minas</h2>
				<img src="static\img\minas.jpg">
			</a>
		</div>

		<div class="card">
			<a class="card-link" href="{{ url_for('arqui') }}">
				<h2>Arquitectura</h2>
				<img src="static\img\arquitectura.jpg">
			</a>
		</div>

		<div class="card">
			<a class="card-link" href="{{ url_for('elo') }}">
				<h2>Ingeniería civil en electronica</h2>
				<img src="static\img\electronica.jpg">
			</a>
		</div>

		<div class="card">
			<a class="card-link" href="{{ url_for('industrial') }}">
				<h2>Ingeniería civil industrial</h2>
				<img src="static\img\industrial.jpg">
			</a>
		</div>
		
		</div>
	</div>


	<div id="cola">
		<font class="num-color" size="5">
			<li id="colaborar"><a id="a-colaborar" href=" https://forms.gle/bLooxe4qJCPCcuEw8 " >¿Quieres colaborar con nosotros?</a></li>
		</font>
	</div>
{% endblock %}