{% extends 'base/base.html'%}
{% block title %} Material  {% endblock %}
{% block link_css %}
    rel="stylesheet" href="{{ url_for('static', filename='css/material.css' ) }}"
{% endblock %}

{% block content %}
	<header class=main-head>
		<nav id="navusm">
			<div id="logoimg">
				<img src="static\img\img.png" alt="logo" width="70" height="70">
			</div>
			<h1 id= 'logo'>Organízate USM</h1>
			<ul id="ulusm">
				<li class="liusm"><a href="{{ url_for('index') }}" class="ausm">Inicio</a></li>
				<li class="liusm"><a href="{{ url_for('material') }}" class="ausm">Material</a></li>
				<li class="liusm"><a href="{{ url_for('pomodoro') }}" class="ausm">Podomoro</a></li>
				<li class="liusm"><a href="{{ url_for('logout') }}" class="ausm">Logout</a></li>
			</ul>
		</nav>
	</header>


	<h1 id="ramo">
		Material de ramos ingeniería civil informática
	</h1>
		<table id='tablita'>
		<tr>
			<th id='tope'>
				<font size="4.2">
					<b>Semestre</b>
				</font>
			</th>
			<th>
				<font size="4.2">
					<b>Asignaturas</b>
				</font>
			</th>
			<th>
				<font size="4.2">
					<b>Semestre</b>
				</font>
			</th>
			<th>
				<font size="4.2">
					<b>Asignaturas</b>
				</font>
			</th>
		</tr>
		<tr>
			<td class='num'>
				<font class="num-color" size="8">
					<b>01</b>
				</font>
			</td>
			<td>
				<li ><a href="{{ ('https://drive.google.com/drive/folders/1wyNyUwhkfOFO77s1gvkei376yPSZVe-0?usp=sharing') }}" target="_blank" >Matemática I - MAT021</a></li>
				<li ><a href="{{ ('https://drive.google.com/drive/folders/1lA40TCDnYlPjBTJlOqlNxcrBli4M69XW?usp=sharing') }}" target="_blank" >Introducción a la físca - FIS100</a></li>
				<li ><a href="{{ ('https://drive.google.com/drive/folders/1TSnXW3_SOR_YOIqEfsR4mKO0ZyYKYSZj?usp=sharing') }}" target="_blank" >Programación - IWI131</a></li>
			</td>
			<td class='num'>
				<font class="num-color" size="8">
					<b>02</b>
				</font>
			</td>
			<td>
				<li ><a href="{{ ('https://drive.google.com/drive/folders/18gDTp4BZ_T2WlnuPiQ7Flq_-s5T-TCTw?usp=sharing') }}" target="_blank" >Matemática II - MAT022</a></li>
				<li ><a href="{{ ('https://drive.google.com/drive/folders/1xTwfOlTpgT-lNDkD8yfFTJyYCD_DoaCx?usp=sharing') }}" target="_blank" >Fiísica General I - FIS110</a></li>
				<li ><a href="{{ ('https://drive.google.com/drive/folders/1ye8zGOubbWMWUH9NiyrPr8_BtO6ipTTJ?usp=sharing') }}" target="_blank" >Química y Sociedad - QUI010</a></li>
				<li ><a href="{{ ('https://drive.google.com/drive/folders/18cpIxg9vofAZkbk7Fg7BCXmX8xY9OYor?usp=sharing') }}" target="_blank" >Introducción a la ingeniería - IWG101</a></li>
			</td>
		</tr>
		<tr>
			<td class='num'>
				<font class="num-color" size="8">
					<b>03</b>
				</font>
			</td>
			<td>
				<li ><a href="{{ ('https://drive.google.com/drive/folders/10eSIP3HEIVo-5LLTPrOXSNXAhObHGlld?usp=sharing') }}" target="_blank" >Matemática III - MAT023</a></li>
				<li ><a href="{{ ('https://drive.google.com/drive/folders/1uV5ncXL3A73z6HmKOXbiyfaeuzgJYp8U?usp=sharing') }}" target="_blank" >Fiísica General III - FIS130</a></li>
			</td>
			<td>
				<font class="num-color" size="8">
					<b>04</b>
				</font>
			</td>
			<td>
				<li ><a href="{{ ('https://drive.google.com/drive/folders/1-jMMnoTM4TGzqOEi3dDLpEQSFUqMufqg?usp=sharing') }}" target="_blank" >Matemática IV - MAT024</a></li>
				<li ><a href="{{ ('https://drive.google.com/drive/folders/1fQ_5kkM56l-dqdOqTE2VDzQNSoBVMI69?usp=sharing') }}" target="_blank" >Fiísica General II - FIS120</a></li>
			</td>
		</tr>
		<tr>
			<td class='num'>
				<font class="num-color" size="8">
					<b>05</b>
				</font>
			</td>
			<td>
				<li ><a href="{{ ('https://drive.google.com/drive/folders/1EWD2F8P4vGmBfz51JUL2J1hAOs4QEm0l?usp=sharing') }}" target="_blank" >Fiísica General IV - FIS140</a></li>
			</td>
			<td>
				<font class="num-color" size="8">
					<b>06</b>
				</font>
			</td>
			<td>DSDA</td>
		</tr>

		</table>


		<font class="num-color" size="5">
			<li id="colaborar"><a id="a-colaborar" href=" https://forms.gle/bLooxe4qJCPCcuEw8 " >¿Quieres colaborar con nosotros?</a></li>
		</font>


{% endblock %}
