{% extends 'base/base.html'%}
{% block link_css %}
  rel="stylesheet" href="{{ url_for('static', filename='css/pomodoro.css' ) }}"
{% endblock %}

{% block script_js %}
  type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"
{% endblock %}

{% block audio_mp3 %}
  src="{{ url_for('static', filename='audio/bell.mp3') }}"
  src="{{ url_for('static', filename='audio/click.mp3') }}"  
{% endblock %}

{% block title %} Pomodoro {% endblock %}

{% block content %}
  <header class=main-head>
    <nav id="navusm">
        <div id="logoimg">
            <img src="static\img\img.png" alt="logo" width="70" height="70">
        </div>
        <h1 id= 'logo'>Organízate USM</h1>
        <ul id="ulusm">
            <li class="liusm"><a href="{{ url_for('index') }}" class="ausm">Inicio</a></li>
            <li class="liusm"><a href="{{ url_for('material') }}" class="ausm">Material</a>
              <ul class="submenu">
                <li><a href="{{ url_for('informatica') }}">Ingeniería Civil en informatica</a></li>
                <li><a href="{{ url_for('matematica') }}">Ingeniería Civil en matemática</a></li>
                <li><a href="{{ url_for('minas') }}">Ingeniería Civil en minas</a></li>
                <li><a href="{{ url_for('arqui') }}">Arquitectura</a></li>
                <li><a href="{{ url_for('elo') }}">Ingeniería Civil en electronica</a></li>
                <li><a href="{{ url_for('industrial') }}">Ingeniería Civil industrial</a></li>
              </ul>
            </li>
            <li class="liusm"><a href="{{ url_for('pomodoro') }}" class="ausm">Pomodoro</a></li>
            <li class="liusm"><a href="{{ url_for('logout') }}" class="ausm">Logout</a></li>
        </ul>
    </nav>
  </header>


    <body onload="template()">
      <div class="container">
        <!-- Main timer -->
        <div>
          <svg viewBox="0 0 960 300">
            <symbol id="s-text">
              <text text-anchor="middle" x="50%" y="80%">Pomodoro</text>
            </symbol>
          
            <g class = "g-ants">
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
            </g>
          </svg>
        </div>
        <div class= "parrafo">
          <div class="caja">
            <ol>
              <h1>¿Cómo trabajar con pomodoro? </h1>
              <br>
              <li>Elige una tarea para completar.</li>
              <li>Dale inicio al temporizador.</li>
              <li>Trabaja en la tarea hasta que pasen los 25 minutos.</li>
              <li>Toma un pequeño descanso de cinco minutos (esto indica la conclusión de un "pomodoro").</li>
              <li>Repite los pasos del 1 al 4.</li>
              <li>Después de cada cuatro pomodoros, toma un descanso más extenso, de unos 20 minutos o más.</li>
            </ol>
          </div>
          <div class="container timer">
            <div class="row">
              <div class="col-5">
                <h4 id="minutes"></h4>
              </div>
              <div class="col-2">
                <h4>:</h4>
              </div>
              <div class="col-5">
                <h4 id="seconds"></h4>
              </div>
            </div>
        </div>
        <div class="my-5">
          <h3 id="done" class="text-center"></h3>
        </div>
      </div>
        <!-- Botón de inicio y reinicio-->
        <div class="conatiner d-flex justify-content-center my-5" style="margin-left: 650px;">
          <button class="btn" onclick="start_timer()">
            <i class="fas fa-play fa-2x"></i>
          </button>
          <a href="pomodoro"><i class="fas fa-redo-alt fa-2x"></i></a>
        </div>
      </div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/5qap5aO4i9A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" style="margin-left: 450px;"></iframe>
    </body>
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
{% endblock %}

